*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  background-image: url('./assets/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo{
  width: 100vw;
  margin-top: 5vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  margin-bottom: 3vh;
  margin-top: 5vh;
}

.grid-item {
  width: 70vw;
  background-color: #FFE9B2; 
  border: 6px solid #4C0706; 
  border-radius: 35px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #4b1205; 
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.grid-item.highlight {
  background-color: #e2b36b; 
  transform: scale(1.1); 
}

.grid-item.selected {
  background-color: #FFCF58; 
  border-color: #FFFFFF; 
  transform: scale(1.15);
}

.button-container{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  gap: 50px;
}

.button-container button {
  width: 60vw;
  padding: 10px;
  background-color: #FFE9B2;
  border: 8px solid #4C0706;
  border-radius: 50px;
  font-size: 25px;
  font-weight: bold;
  color: #770000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #4b1205; 
}

.button-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(5px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  gap: 30px;
}

.popup-top {
  background-color: #FFCF58; 
  padding: 15px;
  border-radius: 35px;
  border: 6px solid #ffffff;
  width: 70vw;
  font-size: 20px;
  font-weight: bold;
  color: #4b1205;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.popup-botton {
  background-color: #FFCF58; 
  padding: 15px;
  border-radius: 35px;
  border: 6px solid #ffffff;
  width: 70vw;
  font-size: 20px;
  font-weight: bold;
  color: #4b1205;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.close-button {
  width: 50vw;
  padding: 10px;
  background-color: #FFE9B2;
  border: 4px solid #4C0706;
  border-radius: 35px;
  font-size: 20px;
  font-weight: bold;
  color: #4C0706;
  cursor: pointer;
}

.close-button:hover {
  background-color: #e2b36b;
}